.SignIn {
    margin: auto;
    width: 50vw;
    min-width: 600px;
    border: 1px solid #aaaaaa;
    padding: 50px 50px;
    border-radius: 10px;
    margin-top:40px;
}

.SignIn form {
    margin: auto;
    min-width: 150px;
}

.SignIn form input {
    width: 100%;
    padding: 10px 5px;
    margin-bottom: 5px;
    text-align: center;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
}

.SignIn form input[type="Submit"] {
    cursor: pointer;
}

.logoFront h1 {
    font-size: 3em;
    line-height: 150px;
}

.logoFront{
    padding-bottom:60px;
    
}

.logoFront img  {
    margin-left: 0px !important;
}