.Retrospective{
    width: 70%;
    margin: auto;
}

.description textArea {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 100px;
}

.IssueItem {
    margin-bottom: 70px;
    clear: both;
    border-radius: 5px;
}

.IssueItem div input{
    width: 65%;
}
.IssueItem div select{
    width: 25%;
    float: right;
}

.IssueItem div {
    padding: 10px 10px;
}

.IssueItem .controlButtons{
    float: right;
}

.IssueItem .description {
    padding: 10px 10px;
}

.SAD { background: rgba(0, 0, 255, 0.5); }
.PROUD { background: rgba(255, 200, 0, 0.5); }
.ANGRY { background: rgba(255, 0, 0, 0.5); }
.HAPPY { background: rgba(0,200, 0, 0.5); }
.CONFUSED { background: rgba(150, 70, 200, 0.5); }

.upVoted {
    color: green;
}