.rowButton {
    min-width: 100px !important;
}

.editMode {
    background: rgba(0,0,0,0.2);
    transition: background-color 0.5s ease-in;
}

.reviewMode {
    background: rgba(0,0,0,0);
    transition: background-color 0.5s ease-in;
}

.requiredMark {
    color: red;
}

.InnerMessages{
    clear:both;
}

.invalid-label {
    font-size: 0.75em;
    line-height: 0.75em;
    color: red;
    margin-top: 0;
    padding: 5px;
}

.required input {
    border: 1px yellow solid;
}