html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* TABLE */
table tr{ padding: 5px 5px;}
td, th {
    line-height: 35px;
    padding: 0px 10px;
}

td:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

td:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

th { 
    border-bottom: grey solid 1px;
    font-weight: bold;
}

html{
    background: #ececec;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.active {
    font-weight: bold;
}

h1 {
  text-align: center;
}

.app_root {
    padding: 10px 10px;
    width: 1000px;
    margin: auto;
}
/* nav bar */
nav {
    background: #303030;
}

nav a{
    display: inline-block;
    padding: 2vh 2vw;
    text-decoration: none;
    color: white;
}

nav a:hover{
    opacity:0.9;
    background: rgba(0,0,0,0.1);
}

.input {
    padding: 5px 10px;
    border-radius: 3px;
    border: 0;
    box-shadow: 0px 0px 3px grey;
    clear: both;
    min-width: 200px;
    margin: auto;
    margin-bottom: 5px;
}

.input:disabled {
    background: white;
    color: black;
}

td, tr, th {
    box-sizing: border-box;
}